//Variaveis
//Cores
$cor-primaria: #5c72ff;
$cor-secundaria: #4e75ff;
$cor-terciaria: #85a0ff;
$cor-quaternaria: #000000;
$cor-default: #CAD4FA;
$gradiente-primario: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(18,18,18,1) 50%, rgba(20,20,20,1) 100%);
$gradiente-secundario: linear-gradient(90deg, rgba(12,177,230,1) 5%, rgba(92,163,255,1) 65%, rgba(79,77,157,1) 100%);
//Fontes
$ft-textos: 'Montserrat', sans-serif;
$ft-titulos: 'Satisfy', cursive;